<!DOCTYPE html>
<html>
<head>
  <title>DeviceExemplo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  Olá <%= current_user.email %>, <%= link_to "Sair", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "Entrar", new_user_session_path %>
<% end %>
<%= yield %>



</body>
</html>
